html {
  height: 100%;
}

body{
  height: 100%;
}

#root{
  height: 100%;
}

#app{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

#update{
  position: fixed;
  z-index: 1;
  top: 2em;
  right: 2em;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  padding-left: 1em;
  padding-right: 1em; 
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 1px;
  height: 2.5em;
  font-size: 1em;
}

#gallery{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#gallery-artwork{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

img{
  height: 60vh;
  min-width: 500px;
  object-fit: contain;
}

#credit{
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  height: 2.5em;
  font-size: 0.8em;
  margin-top: 1em;
}

#credit a{
  color: black;
  text-decoration: none;
  font-weight: 600;
}

#gallery-curator{
  display: flex;
  position: absolute;
  bottom: 10vh;
  padding: 0;
}

.gallery-curator-dot{
  cursor: pointer;
  display: inline-block;
  background: white;
  border: solid 1px;
  text-indent: -9990px;
  transition: .3s;
  border-radius: 10px;
  width: .7em;
  height: .7em;
  margin: 0 5px;
}